@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body {
    background-color: #f4f4f9;
    color: #333;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
    overflow: hidden;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    width: 420px;
    text-align: center;
    animation: fadeIn 1.3s ease-in-out;
    position: relative;
    overflow: hidden;
    transition: filter 0.5s ease; /* Aggiunto per l'effetto blur */
}

button {
    background-color: #4CAF50;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #203777;
    color: #f0f0f0;
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.buttonC {
    background-color: #e74c3c;
}

.buttonD {
    background-color: #f39c12;
}

.buttonS {
    background-color: #e4c200;
    color: #333;
}

.buttonF {
    background-color: #5000e4;
    color: #fff;
}

input[type="file"], select {
    font-family: 'Poppins', sans-serif;
    color: #333;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin: 10px 0;
    width: 300px;
}

input[type="file"]:hover, select:hover {
    border-color: #bbb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 250px;
    margin-bottom: 20px;
    transition: transform 1.5s ease; /* Aggiunta transizione per zoom e filtro */

}

button:disabled {
  background-color: #ccc; /* Colore grigio per indicare che è disabilitato */
  color: #999;
  cursor: not-allowed; /* Cambia il cursore per indicare che non è cliccabile */
  box-shadow: none; /* Rimuovi l'ombra per il pulsante disabilitato */
  opacity: 0.7;
}


.image-container:hover {
    transform: scale(1.2); /* Ingrandimento progressivo dell'immagine */
}


.light {
    font-size: 20px;
    color: #ff0000;
    animation: blink 1s infinite;
}

.version {
    font-size: 14px;
    color: #999;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.9); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes blink {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
}
