            body {
            background-color: rgb(221, 221, 221);
            color: rgb(0, 0, 0);
            font-family: 'Catamaran', sans-serif;
            display: flex;
            justify-content: center;
            height: 70vh;
            align-items: center;
            margin: 0;
            font-size: 20px;
        }

        .container {
            text-align: center;
            font-family: 'Catamaran', sans-serif;
            padding: 20px;
            background-color: #e3e3e3;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        button {
            background-color: red;
            font-family: 'Catamaran', sans-serif;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 3px;
            font-size: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .buttonC {
            background-color: red;
            font-family: 'Catamaran', sans-serif;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.8s ease;
        }

        .buttonD {
            background-color: #f1c232;
            font-family: 'Catamaran', sans-serif;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.8s ease;
        }

        button:hover {
            background-color: #383838;
        }

        input[type="file"], button {
              background-color: none;
            font-family: 'Catamaran', sans-serif;
            color: black;
            border: solid 2px white;
            padding: 8px 16px;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
}

        .image-container {
          width: 250px;
        }

        @keyframes blink {
            0% {
              opacity: 0.2; /* Luminosità al 20% all'inizio dell'animazione */
            }
            50% {
              opacity: 1; /* Luminosità al 100% a metà dell'animazione */
            }
            100% {
              opacity: 0.2; /* Luminosità al 20% alla fine dell'animazione */
            }
          }
          
          .light {
            font-size: 20px;
            color: #ff0000; /* Colore del neon, adatta secondo le tue preferenze */
            animation: blink 1s infinite; /* Animazione che dura 1 secondo, si ripete infinite volte */
          }

          .version {
            font-size: 15px;
          }
